/* Button base */
.buttonBase {
    position: relative;
    color: #737272;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    padding: 8px 12px;
    background: #fafafa;
    box-shadow: inset 0 0 0 1px #d6d6d6;
    border: none;
    border-radius: 3px;
}

/* Button transparent */
.buttonLight { 
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    display: inline-block;
}

/* Button type heading */
.buttonHeading {
    padding: 3px 10px;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    border-radius: 3px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    font-weight: 400;
    color: white !important;
    line-height: 16px;
    font-size: 11px;
}

/* Tamaños */ 
.button--md {
    padding: 4px 10px;
    border-radius: 5px;
}

/* Colores */
.button--white i       { color: #f7f7f7; }
.button--white i:hover { color: #f7f7f7; }

.button--grey i       { color: #818181; }
.button--grey i:hover { color: #356573; }

.button--blue         { background-color: #285e6e; }

.button--lightblue    { 
    box-shadow: inset 0 0 0 1px #328ad6;
    background-color: #328ad6; 
    color: #fff;
}

.button--lightblue:disabled {
    box-shadow: inset 0 0 0 1px #81baec;
    background-color: #81baec;
}

button:disabled {
    cursor: not-allowed;
}
