<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale= ")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        style
            include ./email.css
    body
        h2 Restablecer password
        p ¿Has solicitado restablecer tu contraseña? 
        p Utiliza el siguiente enlace para restablecerla. Este enlace es temporal, así que si vence vuelve a solicitarlo en caso de tener algún problema.
        a(href=`${resetUrl}`) Ir a resetear el password
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste restablecer la contraseña, puedes ignorar este mail