.wrapper2 {
    height: 100vh;  
    background-color:  white;    
}

.logo:before {
    content: '';
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    background-size: 80px;
    background-image: url(/public/img/wl_icon.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.login {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid rgba(36,123,198,0.15);
    padding: 26px;
    text-align: center;
}