<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale= ")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Restablecer password
        style
            include ./styles.css
    body
        h2 Restablecer password
        p ¿Has solicitado restablecer tu contraseña? 
        p Utiliza este token, y así como el nuevo password para restablecer la contraseña.Este enlace es temporal. Este código tiene una validez de 1 hora.
        a(href=`${url}`) Restablecer contraseña
        p Si no solicitaste restablecer la contraseña, puedes ignorar este mail