.createbutton {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.createbutton-link {
    display: inline-block;
    position: relative;
    padding: 9px 50px;
    border: none;
    font-weight: 400;
    text-align: left;
    background-color: transparent; 
    color: #328ad6;
}

.createbutton-link i {
    position: absolute;
    font-size: 18px;
    left: 20px;
    top: 12px;
}

.popup-wrapper {
    padding: 20px;
}

.popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-body {
    margin: 5px 0;
}

.popup-footer {
    text-align: right;
    margin-top: 15px;
}

.popup-title {
    width: 100%;
    text-align: center;
    font-size: 1.17em;
    font-weight: bold;
    margin-bottom: 10px;
}

.tab-panel {
    padding: 5px 0;
}

.tab-options {
    margin-bottom: 5px;
}

.tab-options span {
    font-size: 10px;
    margin-right: 5px;
    text-transform: uppercase;
    color: #737272;
}

.popup-owner {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 5px 0;
    padding: 0 5px;
}

.popup-owner img {
    width: 50px;
    margin-right: 20px; 
}

.popup-ownerdata {
    flex-direction: column;
}

.popup-ownerdata p {
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-ownerdata .user {
    font-weight: bold;
}

.popup-ownerdata .owner, 
.popup-ownerdata .member {
    border: 1px solid blue;
    color: blue;
    border-radius: 7px;
    padding: .5px 5px;
    line-height: 1.1rem;
    font-size: .5rem;
    margin-left: 5px;
    text-transform: uppercase;
}

.popup-ownerdata .member {
    border-color: red;
    color: red;
}

.popup-owner--result {
    cursor: pointer;
}

.owner-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.popup-input {
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #d6d6d6;
}

.popup-input--block {
    width: 100%;
}

.tab-members {
    margin-top: 15px;
    border-top: 1px solid grey;
    padding-top: 5px;
}

.member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.member-button {
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 30px;
    font-size: .9rem;
}

.member-button:hover {
    background-color: lightgray;
    color: white;
}

.autosuggest-wrapper {
    display: flex;
    align-items: flex-start;
}

.autosuggest-wrapper .react-autosuggest__input {
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #d6d6d6;
    width: 100%;
}

.autosuggest-wrapper .react-autosuggest__container {
    width: 100%;
    flex-grow: 1;
}

.autosuggest-wrapper button {
    margin-left: 10px;
}