/* Estilos de la lista */
.tasklist {
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    color: #262626;
    letter-spacing: .3px;
}

.tasklist-li {
    padding: 10px 20px;
    cursor: pointer;
}

.tasklist-li--active {
    background-color: #E0EEFA;
}