.userbar {
    height: 50px;
    padding: 0 10px 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userbar-actions {
    display: flex;
    flex-direction: row;
}

.userbar button {
    background-color: transparent;
    border: none;
}

.userbar button:first-child {
    float: left;
}

.userbar span {
    margin: 0 10px;
    font-size: 15px;
    line-height: 32px;
    font-weight: 500;
    color: #262626;
}

.userbar img {
    width: 32px;
    height: 32px;
    border-radius: 100px;
}