.input_icon {
    position: relative;
    width: 100%;
}

.input_icon-icon {
    position: absolute;   
    top: 5px;
    left: 5px;
    line-height: 20px;
    color: #007bff;
}

.input_icon-input {
    padding-left: 30px;
    border-radius: 3px;
    background-color: none;
    border: 1px solid;
}

/* Estilos por estado */
.input_icon--lg .input_icon-icon {
    font-size: 20px;
    top: 13px;
    left: 12px;
}

.input_icon--lg .input_icon-input {
    padding: 10px 10px 10px 45px;
}