.Input {
    position: relative;
    width: 100%;
}

.Input-icon {
    position: absolute;   
    top: 5px;
    left: 5px;
    line-height: 20px;
    color: #007bff;
}

.Input-input {
    padding-left: 30px;
    border-radius: 3px;
    background-color: none;
    border: 1px solid;
}

/* Estilos por estado */
.Input--lg .Input-icon {
    font-size: 20px;
    top: 13px;
    left: 12px;
}

.Input--lg .Input-input {
    padding: 10px 10px 10px 45px;
}