.inputicon-group {
    position: relative;
    width: 100%;
}

.inputicon-icon {
    position: absolute;   
    top: 5px;
    left: 5px;
    line-height: 20px;
    color: #737272;
}

.inputicon-input {
    padding-left: 30px;
}

/* Estilos por estado */
.inputicon-group--lg .inputicon-icon {
    font-size: 20px;
    top: 12px;
    left: 10px;
}

.inputicon-group--lg .inputicon-input {
    padding: 10px 10px 10px 45px;
}