.userbar {
    height: 50px;
    padding: 0 10px 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-caret, .userbar .user-caret:hover {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
}

.user-caret span {
    color: #262626;
    text-transform: lowercase;
}

.user-caret img {
    width: 32px;
    height: 32px;
    border-radius: 100px;
}

.userbar .dropdown-menu {
    font-size: .8rem;
}

.userbar .dropdown-menu i {
    margin-right: 7px;
    color: #858383;
}