/* List header */
.list-toolbar {
    background-color: #2F6676;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    overflow: hidden;
    padding: 0 20px;
}

/* Scrollable panel */
.taskScWrapper {
    padding: 15px;
    /*overflow-y: scroll;*/
    height: 100vh;
}

