/* List header */
.list-toolbar {
    background-color: #2F6676;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    overflow: hidden;
    padding: 0 20px;
}

/* Toolbar in top */
.list-title {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.list-actions {
    display: flex;
    flex-direction: row;
}

.list-actions i {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    margin: 0 5px;
}

.list-actions i span {
    margin-top: 4px;
    font-weight: 400;
    font-size: 10px;
    font-family: 'Lato';
}