/* Estilos de cada task */
.taskitem {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.task-name {
    line-height: 23px;
    color: black;
    display: block;
}

/* Estilos de estados */
.tasksList--active {
    background-color: #E0EEFA;
}

.tasksList--active .badge--danger {
    color: #fff;
    background: #d74e48;
}

.tasksList--active .badge--secondary {
    color: #000;
    background: transparent;
}

/* Badges */
.task-badges .badge.badge.badge { 
    font-weight: bold; 
}

.task .task-badges > .badge.badge--danger {
    color: #d74e48;
    background: rgba(215,78,72,0.1);
}

.task .task-badges > .badge.badge--secondary {
    color: #bdbcbb;
    background: transparent;
}

.task-badges .badge:last-child { margin-left: 3px; }

/* Iconos */
.task-icon {
    height: 20px;
    width: 25px;
    margin-right: 10px;
    font-size: 20px;
    color:  lightgrey;
}
.task-icon.blue   { color: #2b8dec; }
.task-icon.red    { color: #d74e48; }
.task-icon.green  { color: #5fa004; }
.task-icon.orange { color: #e29600; }