/* Estilos de cada task */
.taskitem {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.taskitem-name {
    line-height: 23px;
    color: black;
    display: block;
    width: 100%;;
}

.taskitem-badges { 
    font-weight: bold; 
    float: right;
}

/* Badges */
.badge-starred {
    color: #d74e48;
    background: rgba(215,78,72,0.1);
}

.badge-normal {
    color: #bdbcbb;
    background: transparent;
}

.taskitem-badges .badge:last-child { margin-left: 3px; }

/* Estilos de los estados */
.badge-starred--active {
    color: #fff;
    background: #d74e48;
}

.badge-normal--active {
    color: #000;
    background: transparent;
}


/* Iconos */
.taskitem-icon {
    height: 20px;
    width: 25px;
    margin-right: 10px;
    font-size: 20px;
    color:  lightgrey;
}
.taskitem-icon.blue   { color: #2b8dec; }
.taskitem-icon.red    { color: #d74e48; }
.taskitem-icon.green  { color: #5fa004; }
.taskitem-icon.orange { color: #e29600; }