 *, *::before, *::after, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 * {
  font-family: 'Lato', sans-serif;
}

a { 
  text-decoration: none !important;
  font-weight: bold;
}

ul, li {
  list-style: none; 
}

img, embed, object, video { 
  max-width: 100%; 
}

body {
  margin: 0;
  padding: 0;
  background: #fbfbfb;
}