*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a { text-decoration: none; }
button:focus {outline:0;}
ul, li { list-style: none; }
img, embed, object, video { max-width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #fbfbfb;
}